//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
//@import "~@tomtom-international/web-sdk-maps";

$primary: #109cf1;
$secondary: #c7c9c9;
$dark: #323437;
//$gray: $gray-600;

//$font-family-sans-serif: "Poppins" ,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
